* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 14px;
  background-color: #d7ebff;
  line-height: 1.5;
}

.Layout__contraints {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.Header {
  width: 100%;
  background: #d7ebff;
}

.right {
  display: flex;
  gap: 2em;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

li,
a {
  font-size: 16px;
  color: #000;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-weight: bolder;
  color: #000;
  font-size: 3vh;
}

.logo i {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vh;
}

.logo_name {
  position: relative;
  bottom: 1vh;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_link li a {
  color: #000;
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
  background: -webkit-linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 1) 23.64%,
    rgba(145, 142, 255, 1) 63.28%,
    rgba(82, 115, 245, 1) 97.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  margin-left: 20px;
  padding: 10px;
  width: 15vh;
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  border: none;
  border-radius: 24px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  color: black;
  cursor: pointer;
}

.main {
  background: #d7ebff;
}

.main-container {
  background: #d7ebff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px 0;
}

.main .text {
  width: 100%;
  line-height: 1.5;
}

.main .text h2 {
  font-size: clamp(3rem, 1vw, 40px);
}

.main img {
  max-width: 100%;
  margin-right: 8vh;
  margin-top: 2vh;
}

em {
  font-size: 5vh;
  display: inline-block;
  position: relative;
  top: 1.2vh;
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .text p {
  width: 100%;
  font-size: clamp(1.2rem, 1vw, 2rem);
  font-weight: 300;

  font-family: "Roboto";
}

.projects {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  padding: 0.9rem;
  width: 30vh;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  color: #000;
  border-radius: 1vh;
  cursor: pointer;
  border: none;
  font-size: 2.4vh;
}
.btn:hover,
.nav_link li a:hover,
.projects:hover {
  transition: 0.3s ease 0s;
  color: #fff;
  text-decoration: none;
}

.dolani {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  margin-top: 2em;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em 0;
}

.alt_logo {
  font-size: 20px;
}

.alt_logo h1 {
  font-size: 5vh;
}

.feature {
  text-align: end;
  margin-top: 3em;
}

.cover {
  padding: 3rem 0 1rem;
}

.feature h2 {
  color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.dash {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  display: block;
  height: 10.27px;
  width: 10vh;
  float: right;
}

.feature-flex-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2em 2em;
  margin: 4em 0;
}

.floated__box {
  width: 100px;
  height: 80px;
  background-color: rgba(87, 122, 255, 0.25);
  padding: 1em;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  border-radius: 4px;
}

.flex-box-container {
  background: #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2em 1em;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-box-container h3 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 6vh;
}

.flex-box-container p {
  text-align: center;
}

.container h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* Second Member section */
.team_members_section {
  margin: auto;
  width: 60vw;

  position: relative;
}
.team_members_section h2 {
  text-align: center;
  margin-bottom: 3vh;
}
.bx-collapse-vertical {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(48, 55, 73);
}
.team_members_section #fhidden {
  position: absolute;
  top: 0;
  right: 3vw;
}
.row1 {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-around;
  grid-template-rows: 50vh;
  gap: 3vh;
}
.team1 {
  box-shadow: 2px 2px 5px rgba(48, 55, 73, 0.6);
  position: relative;
}
.pic_box {
  /* border: 1px solid black; */
  width: 90%;
  height: 50%;
  margin: auto;
  margin-top: 3vh;
}
.img_anonymous {
  width: 100%;
}
.middle {
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
}
.member_text {
  text-align: center;
  margin-top: 2vh;
}
.member_text h3 {
  font-weight: 900;
  font-size: 1rem;
}
.member_text p {
  font-size: 0.8rem;
}
.social-icon {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.hidden {
  display: none;
}

/* For form */

.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background-color: #d7ebff;
}

form {
  padding-top: 20px;
}
.container form .form-row {
  margin: 32px 0;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 50px;
}
.network_img {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(48, 55, 73, 0.6);
}
.network_img img {
  width: 100%;
}
.input-data input,
.textarea textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #d7ebff !important;
  outline: none;
}
.textarea textarea {
  resize: none;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  background: -webkit-linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 1) 23.64%,
    rgba(145, 142, 255, 1) 63.28%,
    rgba(82, 115, 245, 1) 97.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
}

.input-data label {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.textarea label {
  /* width: 100%; */
  bottom: 40px;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before,
.input-data .underline:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #677496;
  transform: scaleX(0);
  transform-origin: center;
  transform: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.underline:after,
.textarea textarea:focus ~ .underline:before,
.underline:after,
.input-data input:valid ~ .underline:before,
.underline:after,
.textarea textarea:valid ~ .underline:before,
.underline:after {
  transform: scale(1);
}
.submit-btn {
  height: 35px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  border: none;
  border-radius: 5px;
}
.submit-btn:hover,
.projects:hover,
.questions:hover,
#question1:hover {
  background-color: rgb(48, 55, 73);
}
.questions:hover {
  background-color: rgba(145, 142, 255, 0.55);
}
.submit-img {
  padding-left: 5px;
  position: absolute;
}
.fasked {
  /* margin-top: 5vh; */
  text-align: center;
}
#question1 {
  width: 60vw;
  margin-top: 8vh;
  height: 6rem;

  margin: auto;
  margin-top: 5vh;
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
  box-shadow: 2px 2px 5px rgba(48, 55, 73, 0.6);
  cursor: pointer;
  border-radius: 10px;
}
.questions {
  width: 60vw;
  margin-top: 8vh;
  height: 5rem;

  margin: auto;
  margin-top: 7vh;
  box-shadow: 2px 2px 5px rgba(48, 55, 73, 0.6);
  cursor: pointer;
  border-radius: 10px;
}
.questions h4 {
  padding: 1rem;
  margin-left: 3vh;
}
#question1 h3 {
  padding: 1.5rem;
  margin-left: 3vh;
}
.faq_answers {
  background-color: antiquewhite;
  padding: 0.5rem;
}
.faq_answers h5 {
  margin-left: 3vh;
}

/* footer styling */
.footer {
  margin-top: 5rem;
  background: linear-gradient(
    256.24deg,
    #3d73ff -30.68%,
    rgba(121, 174, 255, 0.8) 23.64%,
    rgba(145, 142, 255, 0.55) 63.28%,
    rgba(87, 122, 255, 0.25) 97.37%
  );
}

.footer-links {
  font-size: larger;
  margin: 2rem;
}

.footer-logo {
  font-size: larger;
  font-weight: bold;
}

hr {
  border: black solid 0.5px;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 10rem;
}

.attribution {
  text-align: center;
  font-weight: 300;
  font-family: Roboto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
/* footer style ends */

@media (max-width: 769px) {
  .main-container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
  }
  .main img {
    width: 400px;
  }
  .alt_logo h1 {
    font-size: 25px;
  }

  .member {
    flex-direction: column;
  }

  .show {
    display: block !important;
  }

  .right {
    display: none;
  }
  .feature-flex-box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }
  .flex-box-container {
    margin: 10px 0;
  }
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .row1 {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    grid-template-rows: 40vh 40vh 40vh;
    gap: 3vh;
  }
  .team_members_section h2 {
    text-align: left;
    margin-bottom: 3vh;
  }
  .social-icon {
    position: absolute;
    bottom: 0;
    left: 35%;
    font-size: 0.5rem;
  }
  .questions h4 {
    padding: 3vh;
    margin-left: 3vh;
    font-size: 0.6rem;
  }
  #question1 h3 {
    padding: 4vh;
    font-size: 0.8rem;
  }
  .faq_answers h5 {
    font-size: 0.5rem;
  }
  #question1 .faq_answers,
  .questions .faq_answers {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .questions,
  #question1 {
    width: 80vw;
    position: relative;
  }
  .pic_box {
    width: 50%;
  }

  /* footer styles */
  .footer-links {
    font-size: medium;
    margin: 1rem;
  }
  /* footer styles end */
}
